.ClientList-add-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(82,69,88,0.5);
    box-shadow: 0px 0px 2px 0px rgb(55, 43, 61);
}

.ClientList-add-filter label {
    margin-left: 15px;
    font-weight: bold;
    color: rgb(58, 47, 62);
    font-size: 0.9rem;
}

.ClientList-add-filter input {
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 15px;
    height: 20px;
    box-shadow: 0px 0px 2px 0px rgb(82, 69, 88);
}

.ClientList-add-filter button {
    border: none;
    border-radius: 5px;
    height: 22px;
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 2px 0px rgb(82, 69, 88);
    font-weight: bold;
}

.ClientList-add-filter button:hover {
    cursor: pointer;
}

.ClientList-add {
    margin-right: 15px;
}

.ClientList-header {
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid rgba(82,69,88, 0.319);
    font-weight: bold;
    padding-left: 15px;
    color: rgb(58, 47, 62);
}

.ClientList-id {

    margin-right: 30px;
    width: 30%;
}

.ClientList-name {
    margin-right: 50px;
    width: 70%;
}