.ClientList-header {
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid rgba(82,69,88, 0.319);
    font-weight: bold;
    padding-left: 15px;
    color: rgb(58, 47, 62);
}

.ClientList-id {

    margin-right: 30px;
    width: 30%;
}

.ClientList-name {
    margin-right: 50px;
    width: 70%;
}