.Employee {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
    line-height: 1.8rem;
    color: rgb(58, 47, 62);
    box-shadow: inset 0px 0px 2px 0px rgba(82, 69, 88, 0.265);
}

.Employee-id {
    font-size: small;
    opacity: 0.5;
    margin-right: 30px;
    width: 30%;
}

.Employee-name {
    margin-right: 50px;
    width: 50%;
}

.Employee-name input {
    width: 50%;
    height: 20px;
    border-radius: 5px;
    border-color: rgb(58, 47, 62);
    border-width: 1px;
    box-shadow: 0px 0px 10px 0px rgba(74, 60, 80, 0.8);
    color: rgb(58, 47, 62);
    font-weight: bold;
    font-style: italic;
}

.Employee-buttons {
    width: 20%;
    text-align: end;
}

.Employee-buttons .fa-edit, .fa-trash-alt, .fa-eye {
    color: rgb(58, 47, 62);
}

.Employee-button {
    display: inline-block;
    margin-right: 15px;
}

.Employee-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.Employee button:hover {
    cursor: pointer;
}