.EngagementsList-filter {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(82,69,88,0.5);
    box-shadow: 0px 0px 2px 0px rgb(55, 43, 61);
}



.EngagementsList-filterby {
    display: flex;
    align-items: center;
    justify-content: left;
}

.EngagementsList-filterby-label {
    margin-left: 15px;
    margin-right: 10px;
    font-weight: bold;
    color: rgb(58, 47, 62);
    font-size: 0.9rem;
}



.EngagementsList-filterby-dropdown .Dropdown-control {
    border-radius: 8px;
    box-shadow: 0px 0px 2px 0px rgb(82, 69, 88);
    font-size: 0.8rem;
    height: 30px;
    width: 180px;
    padding-top: 4px;
}

.EngagementsList .Dropdown-menu {
    border-radius: 8px;
    font-size: 0.9rem;
}

.EngagementsList .Dropdown-option:hover {
    background-color: rgba(82, 69, 88, 0.1);
}

.EngagementsList .Dropdown-menu .is-selected {
    background-color: rgba(82, 69, 88, 0.1);
}

.EngagementsList input {
    border: none;
    border-radius: 5px; 
    height: 25px;
    box-shadow: 0px 0px 2px 0px rgb(82, 69, 88);
}

.EngagementsList-filter input {
    margin-left: 15px;
    margin-right: 5px;
}

.EngagementsList button {
    border: none;
    border-radius: 5px;
    height: 22px;
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 2px 0px rgb(82, 69, 88);
    font-weight: bold;
}

.EngagementsList button:hover {
    cursor: pointer;
}


.EngagementsList-header {    
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid rgba(82,69,88, 0.319);
    font-weight: bold;
    padding-left: 15px;
    color: rgb(58, 47, 62);
}

.EngagementsList-name, .EngagementsList-client, .EngagementsList-employee, .EngagementsList-started, .EngagementsList-ended {
    width: 13.5%;
}

.EngagementsList-description{
    width: 22.5%;
}

.EngagementsList-buttons {
    width: 10%;
}

