.Engagement {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
    line-height: 1.8rem;
    color: rgb(58, 47, 62);
    box-shadow: inset 0px 0px 2px 0px rgba(82, 69, 88, 0.265);
}

.current {
    background-color: rgb(222, 248, 222);
}

.ended {
    background-color: rgb(248, 237, 222);
}

.Engagement-info {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.Engagement-info input {
    width: 80%;
    height: 20px;
    border-radius: 5px;
    border-color: rgb(58, 47, 62);
    border-width: 1px;
    box-shadow: 0px 0px 10px 0px rgba(74, 60, 80, 0.8);
    color: rgb(58, 47, 62);
    font-weight: bold;
    font-style: italic;
}

.Engagement-name, .Engagement-client, .Engagement-employee, .Engagement-started,  .Engagement-ended {
    width: 15%;
}

.Engagement-description {
    width: 25%;
}

.Engagement-buttons {
    width: 10%;
    text-align: end;
}

.Engagement-buttons .fa-edit, .fa-trash-alt {
    color: rgb(58, 47, 62);
}

.Engagement-button {
    display: inline-block;
    margin-right: 15px;
}

.Engagement-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.Engagement button:hover {
    cursor: pointer;
}